<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LMS | Home</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<div class="center">
		<h1 class="heading">Library Management System | Frappe Task</h1>
	</div>	
	<div class="main-body center">
		<div class="main-content">
			<p>- Visit<a href="/docs" target="_blank">Docs</a>for using the api usage<p>
			<p>- Visit<a href="/reports" target="_blank">Reports</a>for getting the report charts<p>
			<p>- Visit<a href="https://github.com/sd2001/Frappe-LMS" target="_blank">Github Repo</a>for more details<p>
		</div>
	</div>
</body>
</html>